.title {font-size:26px;font-family:sans-serif;}
.submit {height:40px;width:80px;border-radius:10px;}
.view {height:40px;width:180px;border-radius:10px;}
#invisible {display:none;}
.author {font-family:sans-serif;font-size:20px;}